.navLink {
    text-decoration: none;
    color: #2b3428;
    padding: 1rem;
}

.navLink:hover {
    background-color: #e0e0e0;
}

/* .nav a.active { */

/*    color: #7fb8f1; */

/*    text-decoration: underline; */

/* } */

.active {
    color: #7fb8f1;
    text-decoration: underline;
}
