.searchForm {
    max-width: 30rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.25rem;
}

.searchForm input {
    width: 16.5rem;
}

@media (width <= 480px) {
    .searchForm {
        flex-direction: column;
        gap: 0.25rem;
    }
}
