.container {
    margin: 1.25rem auto 2rem;
}

.galleryHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.link {
    text-decoration: none;
    padding: 0.75rem 1.25rem;
    background-color: #90cea1;
    border-radius: 0.25rem;
    color: #fff1d3;
    font-family: ProtestFont, sans-serif;
    letter-spacing: 0.05rem;
    transition: 0.3s ease-in all;
}

.link:hover {
    background-color: #01b4e4;
}

.moviesGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.5rem;
    padding-bottom: 2.25rem;
    border-bottom: 0.06rem solid #90cea1;
}

@media (width <= 768px) {
    .moviesGrid {
        grid-template-columns: repeat(3, minmax(140px, 1fr));
        gap: 16px;
    }
}

@media (width <= 480px) {
    .moviesGrid {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
        gap: 12px;
    }
}
