header {
    height: 4.3rem;
    background-image: radial-gradient(at 30% top, rgb(3 29 51 / 100%) 0%, rgb(9 60 93 / 100%) 70%);
    color: white;
    display: flex;
    align-items: center;
}

main .container {
    padding: 1.25rem;
}
